<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy 2021 Light-Matter Group. This site was based on a template <a href="https://github.com/mpa139/allanlab">forked from the Allan Lab</a>.</p>
              <p>We are part of the <a href="https://www.polymtl.ca/phys/">Department of Engineering Physics</a> at <a href="https://www.polymtl.ca">Polytechnique Montréal</a>.</p>


		   <p>  </p><p>


		</div>
		<div class="col-sm-4">
      Contact (Shipping):<br />
		  Polytechnique Montréal<br />
		  2500 ch. de Polytechnique, Porte S-114<br />
		  Montréal (Québec), H3T 1J4<br />
		  Canada <br />
      (<a href="https://goo.gl/maps/uZrxbjL8djLemQgM8">Google Maps</a>, <a href="https://www.polymtl.ca/renseignements-generaux/en/contact-information-access-maps/campus-map">Campus Map</a>)
		</div>
		<div class="col-sm-4">
		  Contact (Mail):<br />
      <a href="mailto:s.kena-cohen@polymtl.ca">Stéphane Kéna-Cohen</a><br />
      Department of Engineering Physics<br />
		  PO Box 6079, Sation Centre-Ville<br />
		  Montréal (Québec), H3C 3A7<br />
		  Canada<br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
